*{
    margin: 0;
    padding: 0;
    font-family: "Bree Serif";
    /* overflow-x: hidden; */
}
main{
    overflow: visible;
    padding: 2rem; /* Use relative padding to adjust with screen size */

} 
#logo_image{
    width: 20px;
    margin-top: 3px;
}
#logo-container{
    margin: 10px 5px 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#logo_name{
    margin-top: 7px;
    font-weight: 0;
    font-family: "Lobster";
    margin-left: 2px;
    font-size: 20px;
}
.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 10px 12px rgba(205, 220, 200, 0.7);
    z-index: 10000; 
}

#nav_bar{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    width: 600px;
}
#nav_bar a{
    text-decoration: none;
    color: black;
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#nav_bar ul {
    list-style: none;
}
#profile-container{
    display: flex;
    align-items: center;
    margin-right: 60px;
}
#profile-container img{
    width: 35px;
    border-radius: 20px;

}
#profile-container span{
    margin-left: 5px;
}

#nav_bar a:hover{
    background-color: #45bc22;
    border-radius: 15px;
    color: white;
}
#menu-box{
    cursor: pointer;
    display: none;
}

#home-container {
    margin-top: 20px;
    max-height: 400px; 
}



#home-container .home-slide1{
    height: auto;
    display: flex;
    max-width: 100%;
}
#home-container  img{
    min-width: 50px;
    max-width: 500px;
    height: auto;
}


#home-container .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
}

.slogan{
    font-size: 40px;
    font-family: "Rubik Wet Paint";
    text-align: center;
    word-wrap: none;
    margin: 10px 0;
}

.text-btn #shop-now{
    font-size: 18px;
    width: 120px;
    color: #45bc22;
    background: none;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;
}
.text-btn #shop-now span{
    overflow-y: hidden;
}
.text-btn #shop-now:hover{
    color: #f16a16;
}

.home-slide1{
    display: flex;
    align-items: center;
    /* gap: 300px; */
    justify-content: space-between;
    margin-top: 70px;
    width: auto;
    margin: 20px;
    /* flex-wrap: nowrap; */
    
}


.text-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: large;
}

@media (max-width: 925px) {
    
    
}